html,
body {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
}
/* 滚动槽 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.06);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}
#toc li img {
    width: 1.05em;
}
#app {
    width: 100vw;
    height: 100vh;
}
#app,
#app div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#app div {
    flex-direction: column;
}
#app div p {
    margin-top: 1rem;
}
.home {
    overflow: hidden;
}

/*
 * Login Register
 */
.xknote-register main,
.xknote-login main,
.xknote-reset main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100% - 60px);
}
.xknote-register .register,
.xknote-login .login,
.xknote-reset .reset {
    max-width: 90%;
    width: 25rem;
}
.xknote-register .register h1,
.xknote-login .login h1,
.xknote-reset .reset h1 {
    text-align: center;
}
.xknote-register footer,
.xknote-login footer,
.xknote-reset footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*
 * Home
 */
.home {
    height: 100%;
}
.home .columns {
    height: calc(100% - 60px);
    margin: 0;
}
.loading.loading-lg {
    width: 2rem;
}
.editor-loading {
    display: flex;
    align-items: center;
    justify-content: center;
}
.editor-loading p {
    margin: 0 0 0 1rem;
}
#xknote-editor {
    height: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #ddd;
}
#xknote-editor .ace-toolbar .xk-button {
    font-size: 0.85em;
}
.xknote-header {
    height: 60px;
    z-index: 100;
    border-bottom: 1px solid #dfdfdf;
    padding: 0 20px 0 0;
}
.xknote-header .btn {
    margin-left: 5px;
}
.xknote-header .btn-link:focus,
.xknote-header .btn-link:hover {
    box-shadow: 0 0 0 0.1rem rgba(87, 85, 217, 0.2);

    text-decoration: none;
}
.xknote-header .btn-link:focus {
    background: #f1f1fc;
}
.xknote-header .navbar-section.col-2 {
    flex: 0 0 auto !important;
    margin-right: 0.3rem;
}
.xknote-header .form-input {
    width: auto;
}
.navbar-center .menu-item a {
    cursor: pointer;
}
/* Fix xknote-header button hover and active color */
.dropdown .btn-group a:not(.btn-primary):hover {
    color: #5755d9;
}
.dropdown .btn-group a:not(.btn-primary):active {
    color: #5755d9;
    background: #f1f1fc;
    border-color: #4b48d6;
}
.dropdown a {
    cursor: pointer;
}
.xknote-header > *.disabled,
.xknote-header > *:disabled,
.xknote-header > *[disabled] {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
}
.popover-container p {
    padding: 0 0 0 0.3rem;
}
.xknote-icon {
    width: 39px;
    height: 39px;
    margin-left: 20px;
}
.xknote-sidebar {
    display: flex;
    flex-direction: column;
    padding: 0;
    max-height: 100%;
}
.xknote-sidebar.write-mode {
    position: fixed;
    height: 100%;
    z-index: 1000;
    background: #fff;
}
.xknote-tab-content {
    margin: 0 0.8rem;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}
.xknote-tab-content li {
    list-style: none;
}
.xknote-tab-content .menu {
    padding: 0;
}
.xknote-tab-content .cloud-tab .menu .menu-item {
    padding-right: 0;
}
.xknote-tab-content .cloud-tab-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Fix tab tile */
.xknote-tab-content .menu-item > a.tile {
    display: flex;
}
.xknote-tab-content .tile.badge:after {
    transform: none;
}
.xknote-tab-content .tile-action {
    display: none;
}
.xknote-tab-content .tile:hover .tile-action {
    display: block;
}
.xknote-tab-content .accordion .accordion-header .icon {
    transform: none !important;
}
.xknote-tab-content .tile-subtitle,
.xknote-tab-content .tile-title {
    line-height: 1rem;
    font-size: 0.67rem;
}
.xknote-tab-content .tile-click {
    cursor: pointer;
}
.xknote-tab-content .tile-content[children='input'] .tile-click,
.xknote-tab-content .accordion-header[children='input'] span {
    display: none;
}
.xknote-tab-content .tile-content input,
.xknote-tab-content .accordion-header input {
    display: none;
}
.xknote-tab-content .tile-content[children='input'] input,
.xknote-tab-content .accordion-header[children='input'] input {
    display: block;
}
.xknote-tab-content .tile-action .loading {
    display: none;
}
.xknote-tab-content .accordion-header {
    margin: 0 -0.4rem;
    padding: 0.2rem 0.4rem;
    display: flex;
    align-items: center;
}
.xknote-tab-content .accordion-header:hover {
    background: #f1f1fc;
    color: #5755d9;
}
.xknote-tab-content .accordion-header span:nth-last-of-type(1) {
    flex: 1 1 auto;
}
.xknote-tab-content .accordion-header .text-gray {
    margin-left: 0.2em;
    font-size: 0.9em;
}
.xknote-tab-content .accordion-header button {
    flex: 0 0 auto;
    display: none;
}
.xknote-tab-content .accordion-header:hover button {
    display: block;
    width: 1.8em;
    height: 1.5em;
    padding: 0;
    margin-right: 0.2rem;
}
.xknote-tab-content .accordion-header:hover button img {
    vertical-align: auto;
}
.xknote-tab-content .accordion-body .menu {
    border-left: 3.5px solid #5755d940;
    padding-left: 0.2rem;
    margin-left: 0.3rem;
    border-radius: 0;
}
.xknote-copyright {
    padding: 0.8em 0;
    text-align: center;
}
.xknote-check-local,
.xknote-reload-cloud {
    margin-left: 50%;
    margin-top: 1rem;
    transform: translateX(-50%);
}

.float-menu {
    position: fixed;
    z-index: 1001;
}
.float-menu .menu-item a {
    cursor: pointer;
}
.xknote-sm-modal {
    color: #585858;
}

.modal .modal-container.CheckLocalStatus {
    max-width: 90%;
}

.only-folder-item .accordion-header.active {
    background: #f1f1fc;
    color: #5755d9;
}

.only-folder-item .menu {
    padding: 0;
}

.only-folder-item .menu-item {
    padding-right: 0;
}

.only-folder-item .accordion-body {
    margin-bottom: 0.2rem;
}

#app-main .toast {
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 10000;
    max-width: 30%;
    opacity: 0;
    transition: opacity 0.5s;
    visibility: hidden;
}

.toast-progress {
    position: fixed;
    right: 0;
    bottom: 2rem;
    min-width: 9rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 2rem 0rem 0 2rem;
    background-color: rgba(87, 85, 217, 0.85);
    box-shadow: 0 1px 20px -6px rgba(0, 0, 0, 0.2);
    color: #fff;
    transform: translate3d(100%, 0, 0);
    transition: transform 0.5s;
}

.toast-progress.active {
    transform: translate3d(0, 0, 0);
}

.toast-progress .loading {
    width: 2rem;
    height: 1.5rem;
}

.toast-progress .loading::after {
    border-bottom-color: #fff;
    border-left-color: #fff;
}

.toast-progress p {
    margin: 0;
    color: #fff;
}

.form-switch > .form-icon,
.form-radio.form-inline > .form-icon {
    top: 50%;
    transform: translateY(-50%);
}

.tab .tab-item a {
    cursor: pointer;
}

.image-item img {
    width: 100%;
}

.image-item .input-group {
    padding-left: 1rem;
    width: 100%;
}

.image-item .col-9,
.image-item .col-3 {
    display: flex;
    align-items: center;
}

.image-item .columns:not(:last-child) {
    margin-bottom: 1rem;
}

.read-content img {
    max-width: 100%;
}

.NoteHistory {
    height: 100%;
    max-width: 90% !important;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.NoteHistory .modal-body {
    flex: 1;
    overflow: hidden;
}

.NoteHistory .tile {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.25rem;
}

.NoteHistory .tile:hover,
.NoteHistory .tile.active {
    background: #f1f1fc;
    color: #5755d9;
}

.NoteHistory .tile-content,
.NoteHistory .tile-title,
.NoteHistory .tile-subtitle {
    cursor: pointer;
}

.NoteHistory .diff-html {
    overflow: auto;
    height: 100%;
    position: relative;
}

.NoteHistory .content,
.NoteHistory .columns,
.NoteHistory .column {
    height: 100%;
}

.NoteHistory .col-2 {
    overflow: auto;
}

.NoteHistory .col-10 {
    display: flex;
    flex-direction: column;
}

.NoteHistory .col-10 .input-group {
    margin-bottom: 0.5rem;
    width: max-content;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
